<div class="row">
  <div class="col-md-12 m-auto">
    <div class="card card-body">
      <h1 class="m-2">Zmień hasło</h1>
      <div class="p-2 my-2">
          <form id="addSPPForm" method="post">
              <div class="mb-3">
                  <label class="form-label" for="oldPassword">Stare hasło:</label>
                  <input class="form-control" name="oldPassword" id="oldPassword" type="password" placeholder="Stare hasło..."/>
              </div>
              <div class="mb-3">
                <label class="form-label" for="newPassword">Nowe hasło:</label>
                <input class="form-control" name="newPassword" id="newPassword" type="password" placeholder="Nowe hasło..."/>
              </div>
              <div class="mb-3">
                <label class="form-label" for="newPasswordRepeat">Powtórz nowe hasło:</label>
                <input class="form-control" name="newPasswordRepeat" id="newPasswordRepeat" type="password" placeholder="Nowe hasło..."/>
              </div>

              <button class="btn btn-success float-end" id="submitButton" type="submit">Zatwierdź</button>
          </form>
      </div>
    </div>
  </div>
</div>