<div class="row">
    <div class="col-md-12 m-auto">
      <div class="card card-body">
        <h1 class="m-2">Dodaj nowy magazyn</h1>
        <div class="p-2 my-2">
            <form id="contactForm" method="post">
                <div class="mb-3">
                    <label class="form-label" for="shortcut">Skrótowa nazwa</label>
                    <input class="form-control" name="shortcut" id="shortcut" type="text" placeholder="Skrótowa nazwa" data-sb-validations="required" />
                </div>
                <div class="mb-3">
                    <label class="form-label" for="name">Pełna nazwa</label>
                    <input class="form-control" name="name" id="name" type="text" placeholder="Pełna nazwa" data-sb-validations="required" />
                </div>
                <div class="mb-3">
                    <label class="form-label" for="location">Lokalizacja magazynu</label>
                    <input class="form-control" name="location" id="location" type="text" placeholder="Lokalizacja" data-sb-validations="required" />
                </div>
                <button class="btn btn-success float-end" id="submitButton" type="submit">Zatwierdź</button>
            </form>
        </div>
      </div>
    </div>
  </div>